[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vendor/vim-commentry"]
	path = vendor/vim-commentry
	url = https://github.com/tpope/vim-commentary.git
[submodule "vendor/vim-surround"]
	path = vendor/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vendor/fugitive"]
	path = vendor/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vendor/papercolor-theme"]
	path = vendor/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vendor/nerdtree"]
	path = vendor/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vendor/ctrlp.vim"]
	path = vendor/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vendor/ack.vim"]
	path = vendor/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vendor/coc.nvim"]
	path = vendor/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vendor/vim-gitgutter"]
	path = vendor/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vendor/vim-visual-multi"]
	path = vendor/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
