[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vendor/fugitive"]
	path = vendor/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vendor/vim-sensible"]
	path = vendor/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vendor/vim-scriptease"]
	path = vendor/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vendor/vim-commentry"]
	path = vendor/vim-commentry
	url = https://github.com/tpope/vim-commentary.git
[submodule "vendor/vim-surround"]
	path = vendor/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vendor/papercolor-theme"]
	path = vendor/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vendor/vim-gitgutter"]
	path = vendor/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
