[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/vendor/start/vim-visual-multi"]
	path = pack/vendor/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/ctrlp"]
	path = pack/vendor/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/vendor/start/ack"]
	path = pack/vendor/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/vendor/start/vim-gitgutter"]
	path = pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/start/vim-airline-themes"]
	path = pack/vendor/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/vendor/start/vim-php-namespace"]
	path = pack/vendor/start/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/vendor/start/emmnet-vim"]
	path = pack/vendor/start/emmnet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/vendor/start/vimproject"]
	path = pack/vendor/start/vimproject
	url = https://github.com/tbknl/vimproject.git
[submodule "pack/vendor/start/rust"]
	path = pack/vendor/start/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/vendor/start/JuliaFormatter"]
	path = pack/vendor/start/JuliaFormatter
	url = https://github.com/kdheepak/JuliaFormatter.vim.git
[submodule "pack/vendor/start/vim-quickui"]
	path = pack/vendor/start/vim-quickui
	url = https://github.com/skywind3000/vim-quickui.git
[submodule "pack/colors/start/papercolor-theme"]
	path = pack/colors/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "pack/colors/start/vim-atom-dark"]
	path = pack/colors/start/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "pack/colors/start/vim-colorscheme-primary"]
	path = pack/colors/start/vim-colorscheme-primary
	url = https://github.com/google/vim-colorscheme-primary.git
[submodule "pack/colors/start/peaksea"]
	path = pack/colors/start/peaksea
	url = https://github.com/vim-scripts/peaksea.git
[submodule "pack/vendor/start/emmet-vim"]
	path = pack/vendor/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
