{
	"intelephense.licenceKey": "-----YOUR-----KEY-----"
	"coc.preferences.jumpCommand": "tabe",
	"sh.enable": true,
	"snippets.snipmate.enable": true,
	"snippets.snipmate.author": "Vallabh Kansagara",
	"snippets.ultisnips.directories": [
		"~/.vim/src/UltiSnips"
	],
	"snippets.userSnippetsDirectory": "~/.vim/src/UltiSnips",
	"snippets.extends": {
		"php" : [
			"phtml",
			"php"
		],
		"cpp": ["c"],
		"javascriptreact": ["javascript"],
		"typescript": ["javascript","js"]
	}
}
