
<?xml version="1.0"?>
<ruleset name="PHPCS Coding Standards for LaminasCodingStandard"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <description>The coding standard for LaminasCodingStandard itself.</description>

    <!-- base configuration -->
    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="parallel" value="80"/>

    <!-- display progress -->
    <arg value="p"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,phtml"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <rule ref="PSR1.Files.SideEffects">
        <exclude-pattern>public/index.php</exclude-pattern>
    </rule>

    <!-- Lines can be N chars long (warnings), errors at M chars -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="80"/>
            <property name="absoluteLineLimit" value="180"/>
        </properties>
    </rule>


    <!-- Ban some functions -->
    <rule ref="Generic.PHP.ForbiddenFunctions">
        <properties>
            <property name="forbiddenFunctions" type="array">
                <element key="sizeof" value="count"/>
                <element key="delete" value="unset"/>
                <element key="print" value="echo"/>
                <element key="is_null" value="null"/>
                <element key="create_function" value="null"/>
            </property>
        </properties>
    </rule>

    <!-- Paths to check -->
    <file>app</file>
    <file>config</file>
    <file>database/factories</file>
    <file>database/seeders</file>
    <file>routes</file>
    <file>public/index.php</file>

    <exclude-pattern>.config/</exclude-pattern>
    <exclude-pattern>DATA/</exclude-pattern>
    <rule ref="LaminasCodingStandard"/>
</ruleset>
