# VIM specific ignore
*~
*.swp
.netrwhist
.NERDTreeBookmarks
.vim/coc-settings.json
.vimproject 

#if any log(s)
*.log


# ide related
.idea/
.DS_Store

# nodejs specific ignore
node_modules/


*.log
*.o
id_rsa
id_rsa.pub

# Ignore tags
.git/tags
./tags
tags


# php specific ignore
.php_cs.cache
.phpcs-cache
.phpunit.result.cache
phpcs.xml
phpunit.xml
clover.xml
docker-compose.override.yml
/DATA/
psalm.xml
grumphp-grumpy.txt
grumphp-happy.txt

#vs code ignore
.vscode

#WordPress Specific
wp-config.php

#Laravel Specific
.env
Envoy.blade.php
/vendor/
